@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    @*<link rel="stylesheet" href="../Views/style/HomePage.css" />*@
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
</head>
    <body style="margin-bottom: 0%">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-2 bg-dark min-vh-100">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                            <span class="fs-5 d-none d-sm-inline ">Bem Vindo </span>

                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" asp-controller="Ponto" asp-action="Index" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-clock"></i> <span class="ms-1 d-none d-sm-inline">Ponto eletrônico</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Folha" asp-action="Index" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Folhas de pagamento</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Ferias" asp-action="Index" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-airplane"></i> <span class="ms-1 d-none d-sm-inline">Férias</span>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" asp-controller="Login" asp-action="Index" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-box-arrow-in-left"></i> <span class="ms-1 d-none d-sm-inline">Sair</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div>
                </div>
                <div class="container">
                    <div class="row border Regular shadow" style="margin-top:20px; margin-bottom:20px">
                        <a>
                            <i class="fs-4 bi-house" style="font-size:30px; margin-right: 20px; margin-left:10px"></i><span style="font-size:30px">Home</span>
                        </a>
                    </div>
                    <h4 style="width: 300px" class="">Dados pessoais</h4>
                    @using (Html.BeginForm("Redirect", "Home", FormMethod.Post))
                    {
                        <button class="btn btn-primary" style="margin-left:93%; margin-bottom:10px" type="submit">Alterar</button>
                    }
                        @foreach (FuncionarioModel ponto in Model)
                        {
                            <div class="container">
                                <div class="row border" style="margin-bottom:30px">
                                    <div class="row col-md-12 d-flex justify-content-between">
                                        <div class="col-md-6">
                                            Nome: @ponto.Nome
                                        </div>
                                        <div class="col-md-6 ">
                                            Telefone: @ponto.Telefone
                                        </div>
                                        <div class="col border-top border-bottom">
                                            Email: @ponto.Email
                                        </div>
                                        <div class="col border-top border-bottom">
                                            Cargo: @ponto.CargoFunc
                                        </div>
                                        <div class="col border-top border-bottom">
                                            Cpf: @ponto.Cpf
                                        </div>
                                    </div>
                                </div>
                                <strong class="">Informações residenciais</strong>
                                <div class="row border">
                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            Rua: @ponto.Endereco
                                        </div>
                                        <div class="col-md-4">
                                            Numero: @ponto.Numero
                                        </div>
                                        <div class="col-md-4">
                                            Complemento: @ponto.Complemento
                                        </div>
                                        <div class="col border-top border-bottom">
                                            Cidade: @ponto.Cidade
                                        </div>
                                        <div class="col border-top border-bottom">
                                            Cep: @ponto.Cep
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
            </div>
        </div>
    </body>
